.projects-section {
    background-color: #181818;
    padding-top: 6rem;
    /* padding-left: 2rem;
    padding-right: 2rem; */
}

.projects .subtitle {
    color: #1DB954;
    font-family: "Cormorant";
    font-size: 50px;
    text-align: center;
}

#projects .new-project-card-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;

}





.movie-app {
    border-radius: 12px;
    width: 250px;
    height: 150px;
}

.github-app {
    border-radius: 12px;
    width: 250px;
    height: 150px;



}

.keeper-app {
    border-radius: 12px;
    width: 250px;
    height: 150px;
}



.keeper-app-wrapper {
    background-color: #323232;
    border-radius: 13px;
    text-align: center;
    /* padding: 2rem 1rem; */


}

.keeper-app-wrapper h2 {
    color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;

}

.github-app-wrapper {
    background-color: #323232;
    border-radius: 13px;
    /* padding: 2rem 1rem; */
    text-align: center;


}

.github-app-wrapper h2 {
    color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.movie-app-wrapper {
    background-color: #323232;
    border-radius: 13px;
    /* padding: 2rem 1rem; */
    text-align: center;



}

.movie-app-wrapper h2 {
    color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.project-pics {
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr; */
    grid-gap: 2rem;
    /* margin-left: 2rem;
    margin-right: 2rem; */

}

.app-description {
    color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 2rem;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;


}

.tool-tags {
    background-color: gray;
    border-radius: 12px;
    color: white;
    display: inline-block;
    margin-right: 0.7rem;
    margin-top: 0.7rem;
    padding: 8px;
}

.demo {

    border-radius: 12px;
    display: inline-block;
    margin-right: 1rem;
    text-decoration: none;
}

.demo:hover {
    filter: brightness(65%);
}

.code {
    border-radius: 12px;
    text-decoration: none;
}

.code:hover {
    filter: brightness(65%);
}

@media (max-width: 1100px) {
    #projects .new-project-card-wrapper {

        grid-template-columns: 1fr 1fr;


    }
}


@media (max-width: 750px) {
    #projects .new-project-card-wrapper {

        grid-template-columns: 1fr;


    }
}