.navbar {

  color: white;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 3rem;

}

@keyframes fadeIn {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

.menu-items {

  animation: fadeIn 3s;
  font-family: 'Fira Sans', sans-serif;

  list-style-type: none;

}

.menu-items li {
  display: inline;
  /* margin-right: 3rem; */
}



.nav-links {
  color: white;
  text-decoration: none;

}

.nav-links:hover {
  color: #1DB954;
}