.title {
    background: url("../../images/darkened-seattle.png") no-repeat;
    background-size: cover;
    
    margin: auto;
    width: 100%;
    height: 95vh;
}



  .title-message {
    animation: fadeIn 3s;
    background-color: #181818;
      color: white;
      display: inline-block;
      font-family: "Cormorant";
      font-size: 60px;
      position: relative;
      top: 17rem;
      left: 60%;
    padding: 1rem;
      
  }

  .title-message span {
      color: #1DB954;
      font-family: "Cormorant";
  }

  @keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
  }

  


  

  @media (max-width: 800px) {
    .title-message {
      left: 40%;
    }
  }

  @media (max-width: 400px) {
    .title-message {
      font-size: 40px;
      left: 20%;
      top: 15rem;
    }
  }